<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css')}}" type="text/css">
    <title>{{ user.name }}'s Watchlist</title>
    {% endblock %}
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img class="avatar" src="{{ url_for('static', filename='images/avatar.png')}}" alt="Avatar">
        {{ user.name }}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings')}}">Settings</a></li>
            <li><a href="{{ url_for('logout')}}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login')}}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <img class="totoro" src="{{ url_for('static', filename='images/totoro.gif')}}" alt="Walking Totoro">
        <small>&copy; 2018 <a href="https://tutorial.helloflask.com/">Hello Flask</a></small>
    </footer>
</body>

</html>
